<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/nav.ejs')%>

    <div class="container center-align">
      <span style="color: blue" ,align-item: center>
        <i class="material-icons prefix">mood_bad</i>
        <h2>Oops!!</h2>
        <h4>404-PAGE NOT FOUND</h4>
      </span>
    </div>
  </body>
</html>
